<div class="validation-container">
    <input class="validation-input formm-control" />
    <div class="valid-tooltip">
        !
        <span class="valid-tooltip"></span>
    </div>
</div>

@code {

}
